@charset "UTF-8";
/* ===Variables=== */
/* ===Base=== */
html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0;
  display: block;
}

#container {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: block;
  color: #666666;
  background-color: white;
}

.main-outer {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.icn-soft {
  color: #67809f;
}

.icn-it {
  color: #4183d7;
}

.icn-digi {
  color: #2ecc71;
}

.icn-tele {
  color: #d64541;
}

.icn-des {
  color: #926fb1;
}

.icn-sec {
  color: #f62459;
}

.icn-train {
  color: #926fb1;
}

/* header */
.page-parent {
  display: flex;
  flex-direction: row;
  height: 700px;
}

.full-page {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header_row {
  display: table;
}

.logo_column, .hamburger, .mobile_icon {
  display: table-cell;
  width: 100%;
}

.telephone {
  margin-left: 15px;
}

.hamburger {
  padding: 7px 0px 7px 0px;
}

.burger_menu {
  margin-left: 20px;
}

.hamburger::after {
  content: "  ";
}

.form {
  border: 1px solid #e5e5e5;
  padding: 3px 8px 3px 8px;
}

.search-submit {
  border: none;
  background-color: #999aa2;
  color: #fff;
  height: 33px;
  width: 40px;
}

.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner {
  background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg");
  position: relative;
  border-top: 1px solid rgba(51, 54, 69, 0.5);
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
}

.content-container {
  display: flex;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.img-title {
  display: block;
  margin-bottom: 25px;
  font-size: 3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
}

.img-sub-heading {
  color: #fff;
  margin-bottom: 35px;
  font-size: 1.25rem;
  line-height: 2.25rem;
}

.text-content {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 43.313px;
  margin-left: 43.313px;
}

.btn-lg {
  height: auto;
  padding: 5px 20px;
  font-size: 1.25rem;
  line-height: 50px;
  color: #fff;
  background-color: #926fb1;
  border-color: #926fb1;
  border: 1px solid transparent;
  text-transform: uppercase;
}

/* middle section begins - services */
.custom-container1 {
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.services {
  margin-top: -30px;
}

.block {
  margin-top: 30px;
  padding: 30px;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px 1px 1px 1px;
  border: 1px solid #cccccc;
  font-weight: 600;
  text-align: center;
}

.icon {
  margin: 17px;
}

.h2 {
  position: relative;
  display: block;
  padding-bottom: 17px;
  margin: 0px 0px 11px 0px;
  font-size: 1.125rem;
}

span.h2::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

span.p {
  display: block;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0px 0px 13px 0px;
}

.button-container {
  display: block;
  padding: 5px 15px 5px 15px;
  border: 1px 1px 1px 1px;
}

.block:hover {
  background-color: #67809f;
  color: #fff;
}
.block:hover .btn-secondary, .block:hover .h2::after {
  background-color: #fff;
  color: #67809f;
}

#about {
  display: block;
  background-image: url(https://www.netmatters.co.uk/assets/images/branded.png);
  background-color: #333645;
  background-position: 100% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.about_container {
  display: block;
  padding: 50px 15px 50px 15px;
  margin-right: auto;
  margin-left: auto;
}

.netmatters {
  display: block;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 28px;
}

.about-text,
.netmatters {
  color: #fff;
}

.netmatters {
  text-transform: uppercase;
}

p {
  line-height: 1.875rem;
  margin: 0px 0px 25px 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

p:first-child {
  font-weight: bold;
}

.btn-primary {
  background-color: #fff;
  color: #333645;
  border: 1px solid transparent;
  background-image: none;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  line-height: 35px;
  white-space: normal;
}

.btn-primary:focus {
  background-color: #bfbfbf;
  border-color: #bfbfbf;
  color: #333645;
}

/***************************
****************************
    Careers section header
****************************
***************************/
#careers_container {
  margin: auto;
}

ul {
  list-style-position: inside;
}

.anon {
  padding: 0;
  float: left;
  list-style-type: none;
}

.latest {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #333645;
  font-size: 1.25rem;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: 600;
  position: relative;
  line-height: 24px;
}

.latest::after {
  content: "";
  display: block;
  position: absolute;
  width: 71px;
  height: 5px;
  background-color: #333645;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/***************************
****************************
    Careers section main
****************************
***************************/
.section {
  padding: 50px 0px 50px 0px;
}

.jobs {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.custom-container2 {
  padding-left: 15px;
  padding-right: 15px;
}

.custom-row {
  margin: -30px -15px 0px -15px;
}

.job_block {
  padding: 30px 30px 30px 30px;
  border: 1px solid #cccccc;
  border-top-color: #666666;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  border-radius: 3px;
}

.job_title1, .job_title2, .job_title3 {
  font-size: 16px;
}

.job_title1, .job_title2 {
  color: #4183d7;
}

.job_title3 {
  color: #926fb1;
}

.img-container {
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-delay: 0s;
}

.img-container:hover {
  transform: scale(1.2);
}

.details {
  font-size: 13px;
  color: #666666;
}

.btn-lg {
  color: #fff;
  background-color: #4183d7;
}

.btn_3 {
  color: #fff;
  background-color: #926fb1;
}

.user {
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  margin-top: 30px;
  gap: 15px;
}

.person {
  font-size: 14px;
}

.profile_image {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.date {
  font-size: 13px;
  color: #666666;
}

/***************************
****************************
    Client section
****************************
***************************/
.client {
  padding: 50px 0px 50px 0px;
}

.description {
  display: none;
  position: absolute;
  bottom: 100%;
  left: -200px;
  right: -200px;
}

.box {
  background-color: #333645;
  color: #fff;
  padding: 20px;
  max-width: 260px;
  margin: 0px auto 50px auto;
}

.item:hover .description {
  display: block;
}

/***************************
****************************
    Newsletter section
****************************
***************************/
.newsletter_section {
  background-color: #ddd;
}

.newsletter_container {
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.newsletter_inner {
  padding: 50px 30px 50px 30px;
}

.newsletter_heading {
  color: #333645;
  margin: 15px;
}

.form_container {
  display: flex;
  padding-left: -15px;
  padding-right: -15px;
  flex-wrap: wrap;
}

label {
  font-weight: 600;
  color: #333645;
  font-size: 1rem;
}

label::after {
  content: " *";
  color: #d24d57;
}

.sign-up-field {
  flex: 1 1 450px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-control {
  background-color: white;
}

.marketing_info_container {
  display: flex;
  padding: 0px 15px 0px 15px;
  gap: 15px;
  justify-content: center;
}

.policy_text {
  margin-top: 0px;
}

.submit {
  background-color: #333645;
  color: #fff;
}

/***************************
****************************
      Footer section
****************************
***************************/
footer {
  background-color: #333645;
  color: #fff;
  padding: 47px 0px 43px 0px;
  line-height: 1.375rem;
}

.footer_container {
  display: block;
  padding: 0px 15px 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

.block_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer_block {
  display: flex;
  justify-content: center;
}

.link_container, .office_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link_inner, .office_block {
  display: block;
  margin: 0px 0px 30px 0px;
}

.service_links, .offices {
  padding: 0px;
  width: 225px;
}

li, .copyright, .sitemap {
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
}

.link {
  color: #fff;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 26px;
  font-size: 1rem;
}

.end_container {
  display: flex;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #888;
  margin-top: 10px;
}

.social-media {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-grow: 1;
}

.sitemap {
  display: inline-flex;
  padding-right: 10px;
  flex: 1 0;
}

/***************************
****************************
      Accreditations
****************************
***************************/
.accreditation {
  padding-top: 50px;
  padding-bottom: 50px;
}

.accreditation_container {
  padding: 0px 15px 0px 15px;
}

.list {
  display: flex;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.second-row {
  margin-top: 20px;
}

.colour {
  opacity: 0;
  position: absolute;
}
.colour:hover {
  opacity: 100%;
}

.greyscale {
  opacity: 100%;
}
.greyscale:hover {
  opacity: 0;
}

.item {
  flex-grow: 1;
  position: relative;
  padding: 0px 20px 0px 20px;
  vertical-align: middle;
}

/***************************
****************************
      Media Queries
****************************
***************************/
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
