
// Partial imports
@import 'partials/variables',
        'partials/mixins',
        'base/base',
        'components/icons';


/* header */

.page-parent {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.full-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.inner {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#header_container {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    gap: 15px;
}


.item-1 {
    width: 70%;
    flex-grow: 2;
    margin-right: 7px;
}

.item-3 {
    flex-shrink: 0;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-right: 40px;
}

.box {
    margin: 11px;
    margin-bottom: 0px;
    padding-top: 7px;
}

// Banner section

#banner {
    background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg");
    background-position: 55% 90%;
    position: relative;
    border-top: 1px solid rgba(51, 54, 69, .5);
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
}

.content-container {
    display: flex;
    background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.img-title {
    display: block;
    margin-bottom: 25px;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.img-sub-heading {
    color: #fff;
    margin-bottom: 35px;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.text-content {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 43.313px;
    margin-left: 43.313px;
}

.btn-lg {
    height: auto;
    padding: 5px 20px;
    font-size: 1.25rem;
    line-height: 50px;
    color: #fff;
    background-color: #926fb1;
    border-color: #926fb1;
    border: 1px solid transparent;
    text-transform: uppercase;
}


/* middle section begins - services */

.container {
  padding-top: 50px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }

.container-inner {
    display: block;
}

.services {
  margin-top: -30px;
}

// .row {
//   margin-right: -15px;
//   margin-left: -15px;
// }

// .col-md-4 {
//   padding-left: 15px;
//   padding-right: 15px;
//
// }

.block {
  margin-top: 30px;
  padding: 30px;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px 1px 1px 1px;
  border: 1px solid rgb(204, 204, 204);
  font-weight: 600;
  text-align: center;
}

.icon {
  margin: 17px;
}


.h2 {
  position: relative;
  display: block;
  padding-bottom: 17px;
  margin: 0px 0px 11px 0px;
  font-size: 1.125rem;
}

span.h2::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

span.p {
  display: block;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0px 0px 13px 0px;
}

.button-container {
  display: block;
  padding: 5px 15px 5px 15px;
  border: 1px 1px 1px 1px;
}


.block:hover {
 background-color: #67809f;
 color: #fff;
 .btn-secondary, .h2::after {
background-color: #fff;
color: #67809f;
}
}

//About
#about {
  display: block;
  background-image: url(https://www.netmatters.co.uk/assets/images/branded.png);
  background-color: rgb(51, 54, 69);
  background-position: 100% 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.about_container {
  display: block;
  padding: 50px 15px 50px 15px;
  margin-right: auto;
  margin-left: auto;
}

.netmatters {
  display:block;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 28px;
}

.about-text,
.netmatters {
  color: $color-text;
}

.netmatters {
  text-transform: uppercase;
}

p {
  @include bio-text
}

p:first-child {
  font-weight: bold;
}

.btn-primary {
  background-color: #fff;
  color: #333645;
  border: 1px solid transparent;
  background-image: none;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  line-height: 35px;
  white-space: normal;
}

.btn-primary:focus{
  background-color: $color-text-dark;
  border-color: $color-text-dark;
  color: #333645;
}
                            /***************************
                            ****************************
                                Careers section header
                            ****************************
                            ***************************/

#careers_container {
display: block;
}

ul {
list-style-position: inside;
}

.anon {
padding: 0;
float: left;
list-style-type: none;
}

.latest {
display: block;
text-transform: uppercase;
text-decoration: none;
color: #333645;
font-size: 1.25rem;
padding-top: 40px;
padding-bottom: 40px;
font-weight: 600;
position: relative;
line-height: 24px;
}

.latest::after {
content: "";
display: block;
position: absolute;
width: 71px;
height: 5px;
background-color: #333645;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

                            /***************************
                            ****************************
                                Careers section main
                            ****************************
                            ***************************/



.section { // sets the top and bottom padding and covers row.
padding: 50px 0px 50px 0px;
}

.job_row {
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
}

.job_container {
  display: flex;
  justify-content: center;
padding-left: 15px;
padding-right: 15px;
}


.job_container, {
margin-left: auto;
margin-right: auto;
}

.box {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  flex: 1 1;
}

.img-container {
  display: flex;
  flex-grow: 1;
  max-width: 100%
}

.job_block { // this includes job title, description, button and the date of the listing
padding: 30px 30px 30px 30px;
border: 1px solid rgb(204, 204, 204, 204);
border-top-color: rgb(102, 102, 102);
box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
border-radius: 3px;
}

.job_title1, .job_title2, .job_title3 {
font-size: 16px;
}

.job_title1, .job_title2 {
color: rgb(65, 131, 215);}

.job_title3 {
color: #926fb1;
}


.details { //font color and size for job description
font-size: $small-grey-size;
color: $small-grey;
}


.btn-lg {
color: $color-text;
background-color: rgb(65, 131, 215);
}

.btn_3 {
color: $color-text;
background-color: #926fb1;
}

.user {        // items aligned to start of container w/ border above content
display:flex;
align-items: flex-start;
padding-top: 30px;
border-top: 1px solid #ccc;
margin-top: 30px;
gap: 15px;
}

.person {    // larger font that is positioned next to profile image
font-size: 14px;
}

.profile_image {      //small user image at the bottom of each column
width: 47px;
height: 47px;
border-radius: 50%;
}

.date {
font-size: $small-grey-size;
color: $small-grey;
}

// .col::before {     // space between containers
//   content: ', \00a0';
// }

                            /***************************
                            ****************************
                                Newsletter section
                            ****************************
                            ***************************/

.newsletter_section { // Sets a grey background to the newsletter //
  background-color: #ddd;
}

.newsletter_container { // section structure //
  padding: 0px 15px 0px 15px;
}

.newsletter_inner { //  section structure //
  padding: 50px 30px 50px 30px;

}

.newsletter_heading {  // h2 element //
  color: #333645;
  margin: 15px;
}

.form_container { // flex-box form container //
  display: flex;
  padding-left: -15px;
  padding-right: -15px;
  flex-wrap: wrap;
}

label { // label font //
  font-weight: 600;
  color: #333645;
  font-size: 1rem;
}


label::after {  // asterisk after label /
  content: " *";
  color: #d24d57;
}

.sign-up-field { // forms have a flex basis of 450px //
  flex: 1 1 450px;
  padding-left: 15px;
  padding-right: 15px;
}

.form-control { // white background for forms //
  background-color: rgb(255, 255, 255);
}

.marketing_info_container { // flex container for policy info and checkbox //
  display: flex;
  padding: 0px 15px 0px 15px;
  gap: 15px;
  justify-content: center;
}

.policy_text {
  margin-top: 0px;
}

.submit { // label colour //
  background-color: #333645;
  color: $color-text;
}

                              /***************************
                              ****************************
                                    Footer section
                              ****************************
                              ***************************/


footer {
  background-color: #333645;
  color: $color-text;
  padding: 47px 0px 43px 0px;
  line-height: 1.375rem;
}


.footer_container {
  display: block;
   padding: 0px 15px 0px 15px;
   margin: 0px 78.5px 0px 78.5px;
  }


.block_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer_block {
  display: flex;
  justify-content: center;
}

.link_container, .office_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link_inner, .office_block {
  display: block;
  margin: 0px 0px 30px 0px;
}

.service_links, .offices {
  padding: 0px;
  width: 225px;
}


li, .copyright, .sitemap {
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
}

.link {
  color: $color-text;
}

h4 {
  text-transform: uppercase;
  margin-bottom: 26px;
  font-size: 1rem;
}

.end_container { // main flex container for copyright section
  display: flex;
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #888;
  margin-top: 10px;
}

//flex content below is aligned to the end of the container, which expands as viewport increases width.

.social-media {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  flex-grow: 1;
}

// below Flex shrink property set to 0

.sitemap {
  display: inline-flex;
  padding-right: 10px;
  flex: 1 0;
}

// Media queries //

@media (max-width: 760px){
 #banner {
   height: 531px;
 }
}

@media (max-width: 991px){
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 768px){
.job_container, .about_container, .container {
  width: 750px;
}
}

@media (min-width: 992px){
.job_container, .about_container, .container {
  width: 970px;
}

}

@media (min-width: 1260px){
.job_container, .about_container, .container {
  width: 1200px;
}

}

@media (min-width: 1260px){
.about-text {
  width: 50%;
}

}
