
// Partial imports
@import 'partials/variables',
        'components/icons';

      /*
        ===Variables===
                        */

$color-text: #fff;

      /*
          ===Base===
                        */

html {
    height: 100%;
    display: block;
    text-size-adjust: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body
  {
    font-family: Poppins, sans-serif;
    line-height: 1.42857143;
    font-size: 1rem;
    letter-spacing: .4px;
    color: $color-text;
    margin: 0;
    display: block;
  }

#container {
    display: block;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

.main {
    display: block;
    color: rgb(102, 102, 102);
    background-color: rgb(255, 255, 255);
  }

.main-outer {
    display: block;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
}

.main-inner {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* header */

.page-parent {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.full-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.inner {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    gap: 15px;
}


.item-1 {
    width: 70%;
    flex-grow: 2;
    margin-right: 7px;
}

.item-3 {
    flex-shrink: 0;
}

.form-control {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom-color: rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-right: 40px;
}

.box {
    margin: 11px;
    margin-bottom: 0px;
    padding-top: 7px;
}

// Banner section


#banner {
    background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg");
    background-position: 55% 90%;
    position: relative;
    border-top: 1px solid rgba(51, 54, 69, .5);
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
}

.content-container {
    display: flex;
    background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.img-title {
    display: block;
    margin-bottom: 25px;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
}

.img-sub-heading {
    color: #fff;
    margin-bottom: 35px;
    font-size: 1.25rem;
    line-height: 2.25rem;
}

.text-content {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 43.313px;
    margin-left: 43.313px;
}

.btn-lg {
    height: auto;
    padding: 5px 20px;
    font-size: 1.25rem;
    line-height: 50px;
    color: #fff;
    background-color: #926fb1;
    border-color: #926fb1;
    border: 1px solid transparent;
    text-transform: uppercase;
}


/* middle section begins - services */

.container-services {
padding-top: 50px;
padding-right: 15px;
padding-bottom: 50px;
padding-left: 15px;
}
.container-inner {
    display: block;
}

.services {
  margin-top: -30px;
}

.row {
  display: block;
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-4 {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;

}

.block {
  margin-top: 30px;
  padding: 30px;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px 1px 1px 1px;
  border: 1px solid rgb(204, 204, 204);
  font-weight: 600;
  text-align: center;
}

.icon {
  margin: 17px;
}


.h2 {
  position: relative;
  display: block;
  padding-bottom: 17px;
  margin: 0px 0px 11px 0px;
  font-size: 1.125rem;
}

span.h2::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  display: block;
  background-color: #333645;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

span.p {
  display: block;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.375rem;
  margin: 0px 0px 13px 0px;
}

.button-container {
  display: block;
  padding: 5px 15px 5px 15px;
  border: 1px 1px 1px 1px;
}


.block:hover {
 background-color: #67809f;
 color: #fff;
 .btn-secondary, .h2::after {
background-color: #fff;
color: #67809f;
}
}


// Media queries //

@media (max-width: 760px){
 #banner {
   height: 531px;
 }
}

@media (max-width: 991px){
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
