  /***************************
  ****************************
        Accreditations
  ****************************
  ***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

.accreditation {
  padding: $section;
}

.accreditation_container {
  padding: $container;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  vertical-align: middle;
  justify-content: space-evenly;
}

.first-row, .second-row {
  @include IE_space;
}

.second-row {
  margin-top: 20px;
}

.colour {
  position: absolute;
   opacity: 0;
   text-align: none;
}

.item:hover .colour{
   opacity: 1.0;
}


.greyscale {
    opacity: 1.0;
  &:hover {
    opacity: 0;
}
}

.item {
  position: relative;
  padding: 0px 20px 0px 20px;
  flex-grow: 1 0 auto;
  vertical-align: middle;
}
