/***************************
****************************
       Banner Section
****************************
***************************/
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }

  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
/* ===Base=== */
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }

  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0;
  display: block;
}

#container {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: block;
  color: #666666;
  background-color: white;
}

.main-outer {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

#banner {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg");
  border-top: 1px solid rgba(51, 54, 69, 0.5);
}

.img-container-banner {
  height: 100%;
}

.content-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.5);
}

.img-title {
  display: block;
  margin-bottom: 25px;
  color: #fff;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}

.img-sub-heading {
  margin-bottom: 35px;
  line-height: 2.25rem;
  color: #fff;
  font-size: 1.25rem;
}

.text-content {
  padding-right: 15px;
  padding-left: 15px;
  display: block;
  margin-right: 43.313px;
  margin-left: 43.313px;
}

.btn.banner-btn {
  padding: 5px 20px;
  line-height: 50px;
  color: #fff;
  background-color: #926fb1;
  font-size: 1.25rem;
}
.btn.banner-btn:hover {
  background-color: #79539a !important;
}

.arrow-find {
  display: inline-block;
  margin-right: -4px;
  margin-left: 12px;
}

/*# sourceMappingURL=_banner.css.map */
