
  /***************************
  ****************************
         Banner Section
  ****************************
  ***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

.banner {
  position: relative;
  border-top: 1px solid rgba(51, 54, 69, .5);
  height: 100%;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

li.slick-active::after {
  content: "";
  position: absolute;
  top: -2.9px;
  left: 6.5px;
  width: 24px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
}

//
// .slick-slide .slick-current .slick-active {
//   position: relative;
// }

.slick-initialized .slick-slide {
  position: relative;
}

// .slick-track {
//   position: relative;
// }

ul.slick-dots {
  bottom: 30px;
  z-index: 1000;
}

.slick-dots li button:before {
  font-size: 50px;
  // background-color: hsla(0,0%,100%,.5);
  width: 11px;
  height: 11px;
  margin: 0px 10px 0px 10px;
  opacity: 1;
  color: white;
}



.content-container {
  z-index: 200;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.02);
}

.img-title {
  display: block;
  margin-bottom: 25px;
  color: $white-text;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}

.img-sub-heading {
  margin-bottom: 35px;
  line-height: 2.25rem;
  color: $white-text;
  font-size: 1.25rem;
}

.sloop {
  position: relative;
}

.text-container {
  position: absolute;
  z-index: 300;
  top: 30%;
  left: -15%;
  right: 0;
  bottom: 0;
  @include text-padding;
  margin-right: 43.313px;
  margin-left: 43.313px;
}

.btn.banner-btn {
  padding: 5px 20px;
  line-height: 50px;
  color: $white-text;
  background-color: $purple-bg;
  font-size: 1.25rem;
 &:hover {
   background-color: $purple-hover !important;
 }
}

.arrow-find {
  @include arrow-wrapper;
}
