
  /***************************
  ****************************
         Banner Section
  ****************************
  ***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

.banner {
  position: relative;
  border-top: 1px solid rgba(51, 54, 69, .5);
  height: 100%;
}

.slide_container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  margin-top: 0px;
}

.slide-inner {
  height: 100%;
}

// Slick

.slick-list {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slick-track {
  height: 100%;
}

// slick  dots

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}

.slick-dots li button:hover::before {
    color: #869791;
}

.slick-dots li.slick-active button:hover::before {
  color: white;
}


li.slick-active::after {
  content: "";
  position: absolute;
  top: -3.6px;
  left: 4.6px;
  width: 24px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.slick-initialized .slick-slide {
  position: relative;
}

ul.slick-dots {
  z-index: 10;
  bottom: 44px;
}

.slick-dots li button:before {
  font-size: 15px;
  width: 11px;
  height: 11px;
  margin: 0px 10px 0px 10px;
  opacity: 1;
  color: hsla(0,0%,100%,.5);
}


// Banner buttons

.btn.banner-btn {
  padding: 5px 20px;
  line-height: 50px;
  color: $white-text;
  font-size: 1.25rem;
}


.banner-btn.web {
  background-color: $purple-bg;
  &:hover {
    background-color: $purple-hover;
  }
}

.banner-btn.sup {
  background-color: $blue-bg;
  &:hover {
    background-color: $blue-hover;
  }
}

.banner-btn.coms {
    background-color: #d64541;
  &:hover {
    background-color: $maroon-hover;
  }
}

.banner-btn.soft {
    background-color: $blue-grey-bg;
  &:hover {
    background-color: $blue-grey-hover;
  }
}

.banner-btn.market {
    background-color: #2ecc71;
  &:hover {
    background-color: $green-hover;
  }
}

.banner-btn.cyber {
    background-color: #f62459;
  &:hover {
    background-color: $red-hover;
  }
}

// Slide image and container

.cover {
  width: 100%;
  height: 100%;
  position: relative;
  background: #000;
}

.img-cover-modern-container {
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    background: linear-gradient(270deg,transparent 25%,#000);
    z-index: 100;
  }
}

.carousel_image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

// Text content

.content_modern {
  align-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  bottom: 0;
  justify-content: center;
}

.text-container {
  @include text-padding;
}

.img-title {
  display: block;
  margin-bottom: 25px;
  color: $white-text;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}

.img-sub-heading {
  margin-bottom: 35px;
  line-height: 2.25rem;
  color: $white-text;
  font-size: 1.25rem;
}

.arrow-find {
  @include arrow-wrapper;
}
