
                                /***************************
                                ****************************
                                       Banner Section
                                ****************************
                                ***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

#banner {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  border-top: 1px solid rgba(51, 54, 69, .5);
  background-image: url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-3wAI.jpg");
  background-size: cover;
  background-position: center;
}

.img-container-banner {
  display: block;
  height: 100%;
}

.content-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.02);
}

.img-title {
  display: block;
  margin-bottom: 25px;
  color: $white-text;
  font-weight: 400;
  font-size: 3rem;
  text-transform: uppercase;
}

.img-sub-heading {
  margin-bottom: 35px;
  line-height: 2.25rem;
  color: $white-text;
  font-size: 1.25rem;
}

.text-content {
  @include text-padding;
  display: block;
  margin-right: 43.313px;
  margin-left: 43.313px;
}

.btn.banner-btn {
  padding: 5px 20px;
  line-height: 50px;
  color: $white-text;
  background-color: $purple-bg;
  font-size: 1.25rem;
 &:hover {
   background-color: $purple-hover !important;
 }
}

.arrow-find {
  @include arrow-wrapper;
}
