/***************************
****************************
    Careers section header
****************************
***************************/
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }

  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  .visible-it {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .visible-it_two {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  .visible-serv {
    display: block;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .visible-digi {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 1400px) {
  .visible-sec {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1259px) {
  .visible-sec_two, .visible-des_two {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .visible-des {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1259px) {
  .job_title1, .job_title2, .job_title3 {
    min-height: 3rem;
  }
}
@media (min-width: 1259px) {
  .job_title1 {
    min-height: 2.35rem;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
/* ===Base=== */
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }

  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  .visible-it {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .visible-it_two {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1400px) {
  .visible-serv {
    display: block;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .visible-digi {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 1400px) {
  .visible-sec {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1259px) {
  .visible-sec_two, .visible-des_two {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .visible-des {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1259px) {
  .job_title1, .job_title2, .job_title3 {
    min-height: 3rem;
  }
}
@media (min-width: 1259px) {
  .job_title1 {
    min-height: 2.35rem;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0;
  display: block;
}

#container {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: block;
  color: #666666;
  background-color: white;
}

.main-outer {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

ul {
  list-style-position: inside;
}

.anon {
  padding: 0;
  float: left;
  list-style-type: none;
}

.latest {
  display: block;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 24px;
  color: #333645;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
}

.latest::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  margin: auto;
  width: 71px;
  height: 5px;
}

/***************************
****************************
    Careers section main
****************************
***************************/
.section {
  padding: 50px 0px 50px 0px;
}

.jobs {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.custom-container2 {
  padding-right: 15px;
  padding-left: 15px;
}

.custom-row {
  margin: -30px -15px 0px -15px;
}

.job_block {
  padding: 30px 30px 30px 30px;
  border: 1px solid #cccccc;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  border-radius: 3px;
}

.job_title1, .job_title2, .job_title3 {
  font-size: 16px;
}

.job_title1, .job_title2 {
  color: #4183d7;
}

.job_title3 {
  color: #926fb1;
}

.img-container {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
}

.tag {
  position: absolute;
  top: 10px;
  right: 0;
  line-height: 1.438rem;
  padding: 0px 10px 0px 10px;
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
}
.tag:hover {
  text-decoration: underline;
  opacity: 100%;
  color: #fff;
}

.tag-j-1 {
  background-color: #d24d57;
}

.tag-j-2 {
  background-color: #67809f;
}

.tag-art {
  background-color: #926fb1;
}

.responsive {
  transition: all 0.25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-delay: 0s;
}
.responsive:hover {
  transform: scale(1.1);
  object-position: 5px 2px;
  opacity: 80%;
}

.details {
  font-size: 13px;
  color: #666666;
}

.btn-lg {
  line-height: 35px;
  padding: 5px 15px 5px 15px;
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.063rem;
  color: #fff;
  background-color: #4183d7;
}
.btn-lg:hover {
  background-color: #286abd;
}

.btn_3 {
  line-height: 35px;
  padding: 5px 15px 5px 15px;
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.063rem;
  color: #fff;
  background-color: #926fb1;
}
.btn_3:hover {
  background-color: #79539a;
}

.user {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}

.person {
  font-size: 14px;
}

.profile_image {
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.date {
  font-size: 13px;
  color: #666666;
}

.visible-tech {
  display: none;
}

/*# sourceMappingURL=_careers.css.map */
