  /***************************
  ****************************
      Careers section header
  ****************************
  ***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

.articles_jobs {
  box-shadow: 0 5px 35px rgba(0,0,0,.1);
  overflow: hidden;
}

ul {
  list-style-position: inside;
}

.anon {
  padding: 0;
  float: left;
  list-style-type: none;
}

.title_container {
  box-shadow: 0 5px 35px rgba(0,0,0,.1);
}

.latest {
  display: block;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 24px;
  color: $dark-grey-text;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
}

.latest::after {
  @include line-divider;
  margin: auto;
  width: 71px;
  height: 5px;
}

  /***************************
  ****************************
      Careers section main
  ****************************
  ***************************/

.section {
  padding: $section;
}

.jobs {
  @include text-padding;
  margin-left: auto;
  margin-right: auto;
}

.custom-container2 {
  @include text-padding;
}

.custom-row {
  margin: -30px -15px 0px -15px;
}

.job_block {
  padding: 30px 30px 30px 30px;
  border: 1px solid rgb(204, 204, 204, 204);
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  border-radius: 3px;
}

.job_title1, .job_title2, .job_title3 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.job_title1 {
  color: $red-text;
}

.job_title2 {
  color: $blue-grey-text;
}

.job_title3 {
  color: $purple-text;
}

.img-container {
  display: block;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
}


.tag {
  position: absolute;
  top: 10px;
  right: 0;
  line-height: 1.438rem;
  padding: 0px 10px 0px 10px;
  color: $white-text;
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  z-index: 1;
&:hover {
  text-decoration: underline;
  opacity: 100%;
  color: $white-text;
  }
}

.tag-j-1 {
  background-color: $red-bg;
}

.tag-j-2 {
  background-color: $blue-grey-bg;
}

.tag-art {
  background-color: $purple-bg;
}

.responsive {
  width: 100%;
  transition: all .25s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
  transition-delay: 0s;
    &:hover {
    transform: scale(1.1);
    object-position: 5px 2px;
    opacity: 80%;
    cursor: pointer;
  }
}

.details {
  font-size: $small-grey-size;
  color: $small-grey;
}

.btn-lg {
  @include btn-style;
  color: $white-text;
  &:hover {
    cursor: pointer;
  }
}

.btn_1 {
  background-color: $red-bg;
  &:hover {
    background-color: $red-hover;
  }
}

.btn_2 {
  background-color: $blue-grey-bg;
  &:hover {
    background-color: $blue-grey-hover;
  }
}

.btn_3 {
  background-color: $purple-bg;
  &:hover {
    background-color: $purple-hover;
  }
}

.user {
  display:flex;
  align-items: flex-start;
  gap: 15px;
  padding-top: 30px;
  margin-top: 30px;
  border-top: 1px solid #ccc;
}

.person {
  font-size: 14px;
  color: #333645;
}

.profile_image {
  @include IE_margin;
  width: 47px;
  height: 47px;
  border-radius: 50%;
}

.date {
  font-size: $small-grey-size;
  color: $small-grey;
}
