/***************************
****************************
        Contact page
****************************
***************************/

@import '../utilities/variables',
      '../utilities/mixins',
      '../utilities/media',
      '../base/base';

.office_image {
  max-width: 100%;
}

.p {
  font-size: .8125rem;
  line-height: 1.375rem;
  font-weight: 400;
  margin-bottom: 15px;
}

#contact_form {
  background-color: #e6e7e9;
  border-radius: 10px;
  padding: 30px;
}

.company-label::after {
  content: "" !important;
}

.enquire {
  padding: 5px 15px;
  line-height: 35px;
  border-radius: 3px;
  border: 0px solid $purple-bg;
  background-color: $purple-bg;
  border-color: $purple-bg;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: $purple-hover;
  }
}

.net_email {
  color: $purple-text;
  font-size: 1.625em;
  text-decoration: none;
}

#question-wrapper.active {

}

.dropdown_link {
  color: black !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

#support-heading.active {

}

.bus_hrs, .opening {
  font-weight: 600;
  color: black;
}

#answer {
  display: none;
}
