/***************************
****************************
      Footer section
****************************
***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

footer {
  background-color: $dark-grey-bg;
  color: $white-text;
  padding: 47px 0px 43px 0px;
  line-height: 1.375rem;
}

.footer_container {
  padding: $container;
  margin: auto;
  display: block;
}

.block_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer_block {
  display: flex;
  justify-content: center;
}

.link_container, .office_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link_inner, .office_block {
  margin: 0px 0px 30px 0px;
  display: block;
}

.service_links, .offices {
  padding: 0px;
  width: 225px;
}

li, .copyright, .sitemap {
  list-style-type: none;
  font-size: 13px;
}

.link {
  color: $white-text;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $white-text;
  }
}

h4 {
  text-transform: uppercase;
  margin-bottom: 26px;
  font-size: 1rem;
}

.end_container { // main flex container for copyright section
  padding: 10px 0px 0px 0px;
  border-top: 1px solid #888;
  margin-top: 10px;
  display: flex;
}

//flex content below is aligned to the end of the container, which expands as viewport increases width.

.social-media {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  gap: 10px;
}

.media_icon {
  padding: 7px 10px 10px 10px;
  color: $white-text;
  &:hover {
    border-radius: 50%;
    color: $white-text;
  }
}
  .media-fb:hover{
    background-color: steelblue;}

  .media-twit:hover{
    background-color: deepskyblue;}

  .media-insta:hover{
    background-color: salmon;}

  .media-link:hover{
    background-color: darkcyan;}

.sitemap {
  padding-right: 10px;
  display: inline-flex;
  flex: 1 0;
}
