/* header */

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

.page-parent {
    display: flex;
    flex-direction: row;
    height: 700px;
}

.full-page {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inner {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header_row {
  display: flex;
  align-items: center;
}

.img-logo {
  max-width: 100%;
}

// .logo_column, .hamburger, .mobile_icon {
//   display: table-cell;
//   width: 100%;
// }

.mobile_icon {
  display: flex;
  flex-grow: 3;
  justify-content: flex-end;
}

.telephone {
  margin-left: 15px;
}

.hamburger {
  padding: 7px 0px 7px 0px;
}

.burger_menu {
  margin-left: 20px;
}

.action {
  display: flex;
  flex-grow: 1;
}

// .header_row::after {
//   content: ' \00a0';
// }

.search-form {

}

.form {
  width: 174px;
  height: 56px;
  border: 1px solid #e5e5e5;
  padding: 5px 15px 5px 15px;
}

.extra-space {
  margin-bottom: 0.5em;
}


.search-submit {
  border: none;
  background-color: #999aa2;
  color: #fff;
  height: 56px;
  width: 63px;
}

.action_wrapper {
  padding-top: 7px;
}

 .action {
   display: flex;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
 }
