  /***************************
  ****************************
        Header section
  ****************************
  ***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

.page-parent {
  display: flex;
  flex-direction: row;
  min-height: 700px;
}

.full-page {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#top_header {

}

.scroll-down {
  display: none;
}

.scroll-up {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

.inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header_row {
  display: flex;
  justify-content: space-between;
}

.logo_container {
  @include IE_flex;
}

.img-logo {
  @include IE_flex;
  @include IE_flex_val;
  max-width: 100%;
}

.mobile_icon {
  display: flex;
  flex-grow: 3;
  justify-content: flex-end;
  align-items: center;
}

.telephone {
  margin-left: 15px;
  vertical-align: middle;
}

.fa-phone-alt {
  margin-top: 5px;
  font-size: 28px;
 &:hover {
   cursor: pointer;
 }
}

#hamburger {
  position: relative;
  width: 63px;
  height: 56px;
  margin-left: 20px;
  border-radius: 3px;
  background-color: $dark-grey-text;
  &:hover {
    background-color: $dark-grey-hover;
    cursor: pointer;
  }
}

.fa-bars {
  padding: 10px 22px 10px 22px;
  font-size: 24px;
  color: $white-bg;
}

.fas{
  
}

.fas.in-use {
  transform: rotate(-45deg) translate(-15px, -8px);
}

.menu {
  position: absolute;
  top: 30%;
  left: 22%;
  font-size: 12px;
  text-transform: uppercase;
  color: $white-text;
}

.lg-search {
  display: flex;
}

#control {
  position: relative;
  height: 47px;
  padding: 5px 40px 5px 15px;
  border: 2px solid rgba(0,0,0,.1);
  border-color: $light-grey-border;
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  outline: 1px solid hsla(0,0%,100%,.2);
  font-size: 14px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  background-color: rgba(0, 0, 0, 0.1);
  &:focus {
    border-color: none;
    box-shadow: none;
  }
}

#submit-lg {
  position: absolute;
  right: 3%;
  line-height: 47px;
  outline: none;
  border: none;
  background: none;
  &:hover {
    cursor: pointer;
  }
}

#search-lg {
  font-size: 20px;
}

.action {
  display: flex;
  flex-shrink: 3;
  justify-content: center;
  align-items: center;
}

.extra-space {
  margin-bottom: 0.5em;
}

.vis_search {
  display: flex;
}

.mini {
  display: none;
  width: 240px;
  height: 56px;
  margin-left: 20px;
  border-radius: 0px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  font-size: 14px;
 &:focus {
  @include highlight-focus;
  }
}

.search-submit {
  display: none;
  border: none;
  border-radius: 0px 3px 3px 0px;
  background-color: $grey-bg;
  color: $white-text;
  height: 56px;
  width: 63px;
  &:hover {
    background-color: $grey-hover;
  }
}

.fa-search {
  font-weight: 600;
  font-size: 23px;
  margin-top: 5px;
}

 .support {
   @include btn-header;
   background-color: #4183d7 !important;
   border: 1px solid Transparent !important;
   &:hover {
     background-color: darken(#4183d7, 10%) !important;
   }
 }

 .fa-mouse {
   font-size: 22px;
 }

.contact {
  @include btn-header;
  margin-left: 20px;
  background-color: $grey-bg !important;
  border: 1px solid Transparent !important;
  &:hover {
    background-color: darken($grey-bg, 10%) !important;
  }
}

.fa-paper-plane {
  font-size: 22px;
}
