/***************************
****************************
      Header section
****************************
***************************/
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }
}
@media (min-width: 768px) {
  .burger_menu {
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #mini {
    display: block;
    width: 174px;
  }
}
@media (min-width: 1260px) {
  #mini {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1259px) {
  .search-submit {
    display: block;
    margin-left: 30px;
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1260px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 537px) {
  .header_row {
    align-items: center;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contact {
    width: auto;
  }
}
@media (max-width: 991px) {
  .content-container {
    background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 991px) {
  .content-container {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1259px) {
  .job_title1, .job_title2, .job_title3 {
    min-height: 3rem;
  }
}
@media (min-width: 1259px) {
  .btn_1 {
    margin-top: 10px;
  }
}
@media (min-width: 1259px) {
  .job_title1 {
    min-height: 2.35rem;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .visible-it {
    display: block;
  }
}
@media (min-width: 1400px) {
  .dev_train {
    width: 220px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .custom-container2, .custom-container1 {
    max-width: 100%;
  }
}
@media (min-width: 1259px) {
  .about-text {
    width: 50%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #checkboxNoLabel {
    margin-right: 15px;
    background-color: #ddd;
    border: 3px solid #333645;
  }
}
@media (min-width: 1259px) {
  .block_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
/* ===Base=== */
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }
}
@media (min-width: 768px) {
  .burger_menu {
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #mini {
    display: block;
    width: 174px;
  }
}
@media (min-width: 1260px) {
  #mini {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1259px) {
  .search-submit {
    display: block;
    margin-left: 30px;
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1260px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 537px) {
  .header_row {
    align-items: center;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contact {
    width: auto;
  }
}
@media (max-width: 991px) {
  .content-container {
    background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 991px) {
  .content-container {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1259px) {
  .job_title1, .job_title2, .job_title3 {
    min-height: 3rem;
  }
}
@media (min-width: 1259px) {
  .btn_1 {
    margin-top: 10px;
  }
}
@media (min-width: 1259px) {
  .job_title1 {
    min-height: 2.35rem;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .visible-it {
    display: block;
  }
}
@media (min-width: 1400px) {
  .dev_train {
    width: 220px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .custom-container2, .custom-container1 {
    max-width: 100%;
  }
}
@media (min-width: 1259px) {
  .about-text {
    width: 50%;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #checkboxNoLabel {
    margin-right: 15px;
    background-color: #ddd;
    border: 3px solid #333645;
  }
}
@media (min-width: 1259px) {
  .block_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0;
  display: block;
}

#container {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: block;
  color: #666666;
  background-color: white;
}

.main-outer {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.page-parent {
  display: flex;
  flex-direction: row;
  min-height: 700px;
}

.full-page {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.inner {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header_row {
  display: flex;
  justify-content: space-between;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .logo_container {
    display: flex;
  }
}

.img-logo {
  max-width: 100%;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .img-logo {
    display: flex;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .img-logo {
    flex: 0 0 auto;
  }
}

.mobile_icon {
  display: flex;
  flex-grow: 3;
  justify-content: flex-end;
  align-items: center;
}

.telephone {
  margin-left: 15px;
  vertical-align: middle;
}

.hamburger {
  padding: 7px 0px 7px 0px;
}

.burger_menu {
  padding-top: 10px;
  background-color: #333645;
  border-radius: 3px 3px 3px 3px;
}

.lg-search {
  display: flex;
}

#control {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

#submit-lg {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
}

rect {
  fill: #fff;
}

.action {
  display: flex;
  flex-shrink: 3;
  justify-content: center;
  align-items: center;
}

.extra-space {
  margin-bottom: 0.5em;
}

.vis_search {
  display: flex;
}

.mini {
  display: none;
  width: 240px;
  height: 56px;
  margin-left: 20px;
  border-radius: 0px;
}
.mini:focus {
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-shadow: 0 0 5px #51cbee;
}

.search-submit {
  display: none;
  border: none;
  border-radius: 0px 3px 3px 0px;
  background-color: #999aa2;
  color: #fff;
  height: 56px;
  width: 63px;
}

.support {
  width: 141px;
  height: 56px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 1.1rem;
  background-color: #4183d7 !important;
  border: 1px solid Transparent !important;
}
.support:hover {
  background-color: #286abd !important;
}

.contact {
  width: 141px;
  height: 56px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-left: 20px;
  background-color: #999aa2 !important;
  border: 1px solid Transparent !important;
}
.contact:hover {
  background-color: #7e808a !important;
}

/*# sourceMappingURL=_header.css.map */
