/***************************
****************************
    Newsletter section
****************************
***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

.newsletter_section { // Sets a grey background to the newsletter //
  background-color: $grey-bg;
}

.newsletter_container { // section structure //
  padding: $container;
  margin-left: auto;
  margin-right: auto;
}

.newsletter_inner { //  section structure //
  padding: 50px 30px 50px 30px;
}

.newsletter_heading {  // h2 element //
  color: $dark-grey-text;
  margin: 15px;
}

.form_container { // flex-box form container //
  padding: $container;
  display: flex;
  flex-wrap: wrap;
}

label { // label font //
  padding-bottom: 5px;
  color: $dark-grey-text;
  font-weight: 600;
  font-size: 1rem;
}

label::after {  // asterisk after label /
  content: " *";
  color: $red-text;
}

.sign-up-field { // forms have a flex basis of 450px //
  flex: 1 1 450px;
  padding: $container;
}

.form-group {
  margin-bottom: 15px;
}

.form-check-input { // white background for forms //
  width: 32px;
  height: 32px;
  border: 3px solid $dark-grey-text;
  background-color: $grey-bg;
  &:checked {
    background-color: $dark-grey-bg;
    border-color: $dark-grey-text;
  }
}

#checkboxNoLabel {
  box-shadow: none;
  border-color: $dark-grey-text;
}

.marketing_info_container { // flex container for policy info and checkbox //
  padding: $container;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.policy_text {
  margin-top: 0px;
  line-height: 32px;
  font-weight: 600;
  color: $dark-grey-text;
}

.privacy {
  color: $dark-grey-text;
  &:hover {
    color: $dark-grey-hover;
  }
}

.submit { // label colour //
  @include btn-style;
  background-color: $dark-grey-bg;
  color: $white-text;
  &:hover {
    background-color: $dark-grey-hover;
  }
}
