
  /***************************
  ****************************
Middle section begins - Services
  ****************************
  ***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base';

.custom-container1 {
  @include container-properties-custom;
}

.services {
  margin-top: -30px;
}

.block {
  margin-top: 30px;
  padding: 30px;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px 1px 1px 1px;
  border: 1px solid rgb(204, 204, 204);
  font-weight: 600;
  text-align: center;
&:hover .btn {
  background-color: $white-bg;
  @include themes-hover($themes-hover);
 }
&:hover .icon {
  background-color: $white-bg;
}
&:hover .icn {
  @include themes-hover($themes-hover);
}
}

.card_con:hover .block {
  @include card-bg($card-bg);
  color: $white-text;}

.icon {
  @include card-bg($card-bg);
}

.btn {
  @include card-bg($card-bg);
}

.btn-secondary {
  @include btn-style;
}

.icon {
  display: block;
  margin: 0px auto 17px auto;
  border-radius: 50%;
  height: 60px;
  color: $white-text;
  width: 60px;
}

.icn {
  margin-top: 16px;
}

.h2 {
  display: block;
  position: relative;
  padding-bottom: 17px;
  margin: 0px 0px 11px 0px;
  font-size: 1.125rem;
}

span.h2::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  width: 28px;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
}

.card_con:hover span.h2::after {
  background-color: $white-bg;
}

span.p {
  display: block;
  margin: 0px 0px 13px 0px;
  line-height: 1.375rem;
  font-size: .8125rem;
  font-weight: 400;
}

.visible-it, .visible-it_two, .visible-digi, .visible-sec, .visible-serv, .visible-sec_two,
.visible-des, .visible-des_two{
  display: none;
}
