
                          /***************************
                          ****************************
                        Middle section begins - Services
                          ****************************
                          ***************************/

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media',
        '../base/base',
        '../components/icons';

.custom-container1 {
  @include container-properties-custom;
}

.services {
  margin-top: -30px;
}

.block {
  margin-top: 30px;
  padding: 30px;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px 1px 1px 1px;
  border: 1px solid rgb(204, 204, 204);
  font-weight: 600;
  text-align: center;
}

.icon {
  @include themes($themes);
}

.btn {
  @include themes($themes);
}

.btn-secondary {
  @include btn-style;
}

.icon {
  display: block;
  margin: 0px auto 17px auto;
  border-radius: 50%;
  height: 60px;
  color: $white-text;
  width: 60px;
}

.icn {
  margin-top: 16px;
}

.h2 {
  display: block;
  position: relative;
  padding-bottom: 17px;
  margin: 0px 0px 11px 0px;
  font-size: 1.125rem;
}

span.h2::after {
  @include line-divider;
  margin: auto;
  width: 28px;
  height: 3px;
}

span.p {
  display: block;
  margin: 0px 0px 13px 0px;
  line-height: 1.375rem;
  font-size: .8125rem;
  font-weight: 400;
}
