/***************************
  ****************************
Middle section begins - Services
  ****************************
  ***************************/
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }

  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
/* ===Base=== */
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }

  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0;
  display: block;
}

#container {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: block;
  color: #666666;
  background-color: white;
}

.main-outer {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }

  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
/* ===Base=== */
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }

  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0;
  display: block;
}

#container {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: block;
  color: #666666;
  background-color: white;
}

.main-outer {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.custom-container1 {
  padding: 50px 15px 50px 15px;
  margin-right: auto;
  margin-left: auto;
}

.services {
  margin-top: -30px;
}

.block {
  margin-top: 30px;
  padding: 30px;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px 1px 1px 1px;
  border: 1px solid #cccccc;
  font-weight: 600;
  text-align: center;
}
.block:hover .btn {
  background-color: #fff;
}
.block:hover .btn-soft {
  color: #67809f;
}
.block:hover .btn-it {
  color: #4183d7;
}
.block:hover .btn-digi {
  color: #2ecc71;
}
.block:hover .btn-tele {
  color: #d64541;
}
.block:hover .btn-des {
  color: #926fb1;
}
.block:hover .btn-sec {
  color: #f62459;
}
.block:hover .btn-train {
  color: #926fb1;
}
.block:hover .icon {
  background-color: #fff;
}
.block:hover .icn-soft {
  color: #67809f;
}
.block:hover .icn-it {
  color: #4183d7;
}
.block:hover .icn-digi {
  color: #2ecc71;
}
.block:hover .icn-tele {
  color: #d64541;
}
.block:hover .icn-des {
  color: #926fb1;
}
.block:hover .icn-sec {
  color: #f62459;
}
.block:hover .icn-train {
  color: #926fb1;
}

.card_con:hover .block {
  color: #fff;
}
.card_con:hover .block-soft {
  background-color: #67809f;
}
.card_con:hover .block-it {
  background-color: #4183d7;
}
.card_con:hover .block-digi {
  background-color: #2ecc71;
}
.card_con:hover .block-tele {
  background-color: #d64541;
}
.card_con:hover .block-des {
  background-color: #926fb1;
}
.card_con:hover .block-sec {
  background-color: #f62459;
}
.card_con:hover .block-train {
  background-color: #926fb1;
}

.icon-soft {
  background-color: #67809f;
}
.icon-it {
  background-color: #4183d7;
}
.icon-digi {
  background-color: #2ecc71;
}
.icon-tele {
  background-color: #d64541;
}
.icon-des {
  background-color: #926fb1;
}
.icon-sec {
  background-color: #f62459;
}
.icon-train {
  background-color: #926fb1;
}

.btn-soft {
  background-color: #67809f;
}
.btn-it {
  background-color: #4183d7;
}
.btn-digi {
  background-color: #2ecc71;
}
.btn-tele {
  background-color: #d64541;
}
.btn-des {
  background-color: #926fb1;
}
.btn-sec {
  background-color: #f62459;
}
.btn-train {
  background-color: #926fb1;
}

.btn-secondary {
  line-height: 35px;
  padding: 5px 15px 5px 15px;
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.063rem;
}

.icon {
  display: block;
  margin: 0px auto 17px auto;
  border-radius: 50%;
  height: 60px;
  color: #fff;
  width: 60px;
}

.icn {
  margin-top: 16px;
}

.h2 {
  display: block;
  position: relative;
  padding-bottom: 17px;
  margin: 0px 0px 11px 0px;
  font-size: 1.125rem;
}

span.h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
  margin: auto;
  width: 28px;
  height: 3px;
}

.card_con:hover span.h2::after {
  background-color: #fff;
}

span.p {
  display: block;
  margin: 0px 0px 13px 0px;
  line-height: 1.375rem;
  font-size: 0.8125rem;
  font-weight: 400;
}

/*# sourceMappingURL=_services.css.map */
