/***************************
****************************
          Services
****************************
***************************/
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_header, #careers_container,
.newsletter_container, .footer_container, .header_container, .text-container {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_header, #careers_container,
.newsletter_container, .footer_container, .header_container, .navigation-container, .text-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_header, #careers_container,
.newsletter_container, .footer_container, .header_container, .client_container, .navigation-container, .text-container {
    width: 1200px;
  }
}
@media (min-width: 992px) {
  #sidebar {
    width: 350px;
  }
}
@media (min-width: 768px) {
  .qookie_outer {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .action {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }
}
@media (min-width: 768px) {
  .burger_menu {
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #mini {
    display: block;
    width: 174px;
  }
}
@media (min-width: 1260px) {
  #mini {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .search-submit {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1259px) {
  .search-submit {
    display: block;
    margin-left: 30px;
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1260px) {
  .search-submit {
    display: block;
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 537px) {
  .header_row {
    align-items: center;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contact {
    width: auto;
  }
}
@media (max-width: 991px) {
  .content-container {
    background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 991px) {
  .content-container {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1259px) {
  .job_title1, .job_title2, .job_title3 {
    min-height: 3rem;
  }
}
@media (min-width: 1259px) {
  .btn_1 {
    margin-top: 10px;
  }
}
@media (min-width: 1259px) {
  .job_title1 {
    min-height: 2.35rem;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .visible-it {
    display: block;
  }
}
@media (min-width: 1400px) {
  .dev_train {
    width: 220px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .custom-container2, .custom-container1 {
    max-width: 100%;
  }
}
@media (min-width: 1259px) {
  .about-text {
    width: 50%;
  }
}
@media (max-width: 992px) {
  #about {
    background-image: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #checkboxNoLabel {
    margin-right: 15px;
    background-color: #ddd;
    border: 3px solid #333645;
  }
}
@media (min-width: 1259px) {
  .block_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .text-container {
    left: 0;
  }
}
@media (min-width: 768px) {
  .text-container {
    right: 50%;
  }
}
@media (min-width: 1500px) {
  .shift {
    left: 0% !important;
  }
}
/* ===Base=== */
/* ===Variables=== */
/* ===Mixins=== */
/* ===Variables=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_header, #careers_container,
.newsletter_container, .footer_container, .header_container, .text-container {
    width: 750px;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_header, #careers_container,
.newsletter_container, .footer_container, .header_container, .navigation-container, .text-container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_header, #careers_container,
.newsletter_container, .footer_container, .header_container, .client_container, .navigation-container, .text-container {
    width: 1200px;
  }
}
@media (min-width: 992px) {
  #sidebar {
    width: 350px;
  }
}
@media (min-width: 768px) {
  .qookie_outer {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .action {
    margin-top: 5px;
  }
}
@media (min-width: 768px) {
  .logo_container {
    padding: 0px 5px 0px 0px;
  }

  .action_wrapper {
    padding: 0px 15px 0px 15px;
  }

  .header_row {
    height: 60.6px;
  }
}
@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }
}
@media (min-width: 768px) {
  .burger_menu {
    margin-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #mini {
    display: block;
    width: 174px;
  }
}
@media (min-width: 1260px) {
  #mini {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .search-submit {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1259px) {
  .search-submit {
    display: block;
    margin-left: 30px;
    border-radius: 3px 3px 3px 3px;
  }
}
@media (min-width: 1260px) {
  .search-submit {
    display: block;
    border-radius: 0px 3px 3px 0px;
  }
}
@media (max-width: 537px) {
  .header_row {
    align-items: center;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .contact {
    width: auto;
  }
}
@media (max-width: 991px) {
  .content-container {
    background: linear-gradient(270deg, transparent 25%, #000), rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 991px) {
  .content-container {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1259px) {
  .job_title1, .job_title2, .job_title3 {
    min-height: 3rem;
  }
}
@media (min-width: 1259px) {
  .btn_1 {
    margin-top: 10px;
  }
}
@media (min-width: 1259px) {
  .job_title1 {
    min-height: 2.35rem;
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .visible-it {
    display: block;
  }
}
@media (min-width: 1400px) {
  .dev_train {
    width: 220px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .custom-container2, .custom-container1 {
    max-width: 100%;
  }
}
@media (min-width: 1259px) {
  .about-text {
    width: 50%;
  }
}
@media (max-width: 992px) {
  #about {
    background-image: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #checkboxNoLabel {
    margin-right: 15px;
    background-color: #ddd;
    border: 3px solid #333645;
  }
}
@media (min-width: 1259px) {
  .block_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 767px) {
  .text-container {
    left: 0;
  }
}
@media (min-width: 768px) {
  .text-container {
    right: 50%;
  }
}
@media (min-width: 1500px) {
  .shift {
    left: 0% !important;
  }
}
html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0;
  display: block;
}

.main {
  position: relative;
  display: block;
  color: #666666;
  background-color: white;
}

.shift {
  position: absolute;
  top: 0;
  left: -25%;
  right: 350px;
  bottom: 0;
}

.main-outer {
  display: block;
  height: 100%;
}

.main-outer.hidden {
  overflow: hidden;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.custom-container1 {
  padding: 50px 15px 50px 15px;
  margin-right: auto;
  margin-left: auto;
}

.services {
  margin-top: -30px;
}

.card_con {
  padding: 0px 15px 0px 15px;
}

.block {
  margin-top: 30px;
  padding: 30px;
  border-radius: 3px 3px 3px 3px;
  border-width: 1px 1px 1px 1px;
  border: 1px solid #cccccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  text-align: center;
}

.outer:hover .block {
  color: #fff;
  cursor: pointer;
}
.outer:hover .block-soft {
  background-color: #67809f;
}
.outer:hover .block-it {
  background-color: #4183d7;
}
.outer:hover .block-digi {
  background-color: #2ecc71;
}
.outer:hover .block-tele {
  background-color: #d64541;
}
.outer:hover .block-des {
  background-color: #926fb1;
}
.outer:hover .block-sec {
  background-color: #f62459;
}
.outer:hover .block-train {
  background-color: #926fb1;
}
.outer:hover .block:hover span.h2::after {
  background-color: #fff;
}

.block:hover .btn {
  background-color: #fff;
  transition: none !important;
}
.block:hover .btn-soft {
  color: #67809f;
}
.block:hover .btn-it {
  color: #4183d7;
}
.block:hover .btn-digi {
  color: #2ecc71;
}
.block:hover .btn-tele {
  color: #d64541;
}
.block:hover .btn-des {
  color: #926fb1;
}
.block:hover .btn-sec {
  color: #f62459;
}
.block:hover .btn-train {
  color: #926fb1;
}

.block:hover .icon {
  background-color: #fff;
}

.block:hover .icn-soft {
  color: #67809f;
}
.block:hover .icn-it {
  color: #4183d7;
}
.block:hover .icn-digi {
  color: #2ecc71;
}
.block:hover .icn-tele {
  color: #d64541;
}
.block:hover .icn-des {
  color: #926fb1;
}
.block:hover .icn-sec {
  color: #f62459;
}
.block:hover .icn-train {
  color: #926fb1;
}

.icon-soft {
  background-color: #67809f;
}
.icon-it {
  background-color: #4183d7;
}
.icon-digi {
  background-color: #2ecc71;
}
.icon-tele {
  background-color: #d64541;
}
.icon-des {
  background-color: #926fb1;
}
.icon-sec {
  background-color: #f62459;
}
.icon-train {
  background-color: #926fb1;
}

.btn-soft {
  background-color: #67809f;
}
.btn-it {
  background-color: #4183d7;
}
.btn-digi {
  background-color: #2ecc71;
}
.btn-tele {
  background-color: #d64541;
}
.btn-des {
  background-color: #926fb1;
}
.btn-sec {
  background-color: #f62459;
}
.btn-train {
  background-color: #926fb1;
}

.btn-secondary {
  line-height: 35px;
  padding: 5px 15px 5px 15px;
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.063rem;
}

.icon {
  display: block;
  margin: 0px auto 17px auto;
  border-radius: 50%;
  height: 60px;
  color: #fff;
  width: 60px;
}

.icn {
  margin-top: 16px;
  font-size: 24px;
}

.h2 {
  display: block;
  position: relative;
  padding-bottom: 17px;
  margin: 0px 0px 11px 0px;
  font-size: 1.125rem;
}

span.h2::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  width: 28px;
  height: 3px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
}

span.p {
  display: block;
  margin: 0px 0px 13px 0px;
  line-height: 1.375rem;
  font-size: 0.8125rem;
  font-weight: 400;
}

.visible-it, .visible-it_two, .visible-digi, .visible-sec, .visible-serv, .visible-sec_two,
.visible-des, .visible-des_two {
  display: none;
}

/*# sourceMappingURL=_services.css.map */
