/***************************
****************************
       Sidebar Section
****************************
***************************/

@import '../utilities/variables',
      '../utilities/mixins',
      '../utilities/media',
      '../base/base';

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1003;
  height: 100%;
  overflow: auto;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  border-top: 1px solid hsla(0,0%,100%,.1);
  border-bottom: 1px solid rgba(0,0,0,.25);
  background: #333645;
  opacity: 1;
}

#sidebar.is-active {
  transform: translateX(70%);
  transition: all 0.4s ease-in-out;
}

#sidebar a {
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;
}

#sidebar li {
  border-top: 1px solid hsla(0,0%,100%,.05);
  // padding: 15px 20px 15px 20px;
  font-size: .875rem;
  background-color: rgba(0,0,0,.25);
}

#sidebar ul {
  margin: 0;
  padding: 0;
}

.side_heading {
  display: block;
  padding: 20px;
  line-height: 1;
  border-top: 1px solid hsla(0,0%,100%,.1);
  border-bottom: 1px solid rgba(0,0,0,.25);
  font-size: 1rem;
  text-decoration: none;
}

.matters li a::before {
  content: "\BB";
  padding-right: 15px;
}

.slideService {
  padding: 19px 0px 19px 0px;
  text-align: center;
}

.bar_sm_active {
  padding: 20px !important;
}
