/***************************
****************************
       Sidebar Section
****************************
***************************/

@import '../utilities/variables',
      '../utilities/mixins',
      '../utilities/media',
      '../base/base';

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1003;
  height: 100%;
  overflow: auto;
  transform: translateX(100%);
  transition: all 0.4s ease-in-out;
  border-top: 1px solid hsla(0,0%,100%,.1);
  border-bottom: 1px solid rgba(0,0,0,.25);
  background: #333645;
  opacity: 1;
}

#sidebar.is-active {
  transform: translateX(70%);
  transition: all 0.4s ease-in-out;
}

#sidebar_lg a {
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;
}

#sidebar_lg li {
  background-color: rgba(0,0,0,.25);
}

#sidebar_sm a {
  padding: 19px 0px 18px 0px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: block;
}

#sidebar li {
  border-top: 1px solid hsla(0,0%,100%,.05);
  // padding: 15px 20px 15px 20px;
  font-size: .875rem;
  // background-color: rgba(0,0,0,.25);
}

#sidebar ul {
  margin: 0;
  padding: 0;
}

.side_heading {
  display: block;
  padding: 20px;
  line-height: 1;
  border-top: 1px solid hsla(0,0%,100%,.1);
  border-bottom: 1px solid rgba(0,0,0,.25);
  font-size: 1rem;
  text-decoration: none;
  &:hover {
      background-color: #333645;;
    }
}

.matters li a::before {
  content: "\BB";
  padding-right: 15px;
}

.bar_sm_active {
  padding: 20px !important;
}

.slideService {
  padding-top: 20px;
  text-align: center;
  color: rgb(102, 102, 102);
}

.slideItem {
    display: block;
    line-height: 1;
    color: $white-text;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    outline: 1px solid rgba(0, 0, 0, 0.25);
}

ul .slide_links {
  margin-top: 20px !important;
  background-color: rgba(0, 0, 0, 0.25);
}
