/* media queries */

@media (max-width: 767px) {#header_container .inner .row {
  display: table;
  width: 100%;
  margin: 0;
  }
}


// @media (max-width: 991px) {header .inner .logo_container_2 {
//   display: table;
//   table-layout: fixed;
// }
