/* ===Variables=== */

// Font styles
$color-text: #fff;
$color-text-dark: darken($color-text, 25%);
$small-grey: rgb(102, 102, 102);
$small-grey-size: 13px;


//icon colours
$themes: (
 'soft': #67809f,
 'it': #4183d7,
 'digi': #2ecc71,
 'tele': #d64541,
 'des': #926fb1,
 'sec': #f62459,
 'train': #926fb1,);
