/***************************
****************************
      Media Queries
****************************
***************************/

//Header

@media (min-width:768px) {
.logo_container{
  padding: 0px 5px 0px 0px
}
.action_wrapper {
padding: 0px 15px 0px 15px;
}
.header_row {
  height: 60.6px;
}
}

@media (min-width: 992px) {
  .img-logo {
    width: 374px;
    max-width: none;
  }
  .search-submit {
    border-radius: 3px 3px 3px 3px;
  }
}

@media (min-width: 1200px) {
  .search-submit {
    border-radius: 0px 3px 3px 0px;
  }
}


@media (max-width: 991px){
.content-container {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
}

// Align content

@media (min-width: 768px){
.job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container  {
  width: 750px;
}
}

@media (min-width: 992px){
.job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .navigation-container {
  width: 970px;
}
}

@media (min-width: 1260px){
.job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container, .navigation-container {
  width: 1200px;
}
}

// Card text boxes
@media (min-width: 768px) and (max-width: 1400px){
.visible-it {
  display: block;
  }
}

@media (min-width: 768px) and (max-width: 992px){
.visible-it_two {
  display: block;
  }
}

@media (min-width: 768px) and (max-width: 1400px){
 .visible-serv {
  display: block;
  }
}

@media (min-width: 1200px) and (max-width: 1400px){
.visible-digi {
  display: block;
  }
}

@media (min-width: 576px) and (max-width: 1400px){
.visible-sec {
  display: block;
  }
}

@media (min-width: 992px) and (max-width: 1259px){
.visible-sec_two, .visible-des_two {
  display: block;
  }
}

@media (min-width: 992px) and (max-width: 1400px){
.visible-des {
  display: block;
  }
}

// Cards careers section
@media (min-width: 576px) and (max-width: 991px){
.visible-tech {
  display: block;
  }
}

// About

@media (min-width: 1260px){
.about-text {
width: 50%;
}
}
