/* ===Mixins=== */

@import '../utilities/variables';

@mixin bio-text {
  line-height: 1.875rem;
  margin: 0px 0px 25px 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

// Padding and margin values
@mixin text-padding {
  padding-right: 15px;
  padding-left: 15px;
}

@mixin container-properties-custom {
  padding: 50px 15px 50px 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin container-properties-custom-2 {
  padding: 50px 0px 50px 0px;
  margin-right: auto;
  margin-left: auto;
}

@mixin arrow-wrapper {
  display: inline-block;
  margin-right: -4px;
  margin-left: 10px;
}

//Border
@mixin nav-border { 
  border-right: 1px solid hsla(0,0%,100%,.1);
  border-left: 1px solid rgba(0,0,0,.25);
}

// Small line division
@mixin line-divider {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
}

//Buttons
@mixin btn-style {
  line-height: 35px;
  padding: 5px 15px 5px 15px;
  border: 1px solid transparent;
  border-radius: 3px 3px 3px 3px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.063rem;
}

@mixin icon-color {
  background-color: #67809f;
}

@mixin btn-header {
  width: 141px;
  height: 56px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-size: 1.1rem;
}

// forms
@mixin highlight-focus {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

// Navigation panel hover
@mixin hover {
  &:hover .company-con {
    color: $white-text;
    }
  &:hover .link_icn {
    color: $white-text;
  }
}

// background-colour for service cards
@mixin card-bg($map) {
  @each $name, $color in $map {
    &-#{$name} {
  background-color: $color;
    }
  }
}

// Changes icon colour in services on hover
@mixin themes-hover($map) {
  @each $name, $color in $map {
    &-#{$name} {
  color: $color;
    }
  }
}

// icon colour nav bar
@mixin c-icon($map) {
  @each $number, $color in $map {
      &-#{$number} {
      color: $color;
      }
  }
}

//background colour for nav on hover
@mixin seg-bg($map) {
  @each $number, $color in $map{
    &-#{$number} {
      background-color: $color;
    }
  }
}

@mixin dark-sub-bg($map) {
  @each $theme, $color in $map {
    &-#{$theme} {
      background-color: $color;
    }
  }
}

// IE fixes

@mixin IE_flex () {
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    display: flex;
  }
}

@mixin IE_flex_val () {
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    flex: 0 0 auto;
  }
}

//Accreditations links and addresses - IE fix
@mixin IE_space () {
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
      justify-content: space-around;
  }
}

  @mixin IE_center () {
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
      justify-content: center;
  }
}

  @mixin IE_margin () {
    @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
      margin-right: 15px;
  }
}
