

/* ===Mixins=== */

@mixin bio-text {
  line-height: 1.875rem;
  margin: 0px 0px 25px 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

// Padding and margin values

@mixin text-padding {
  padding-right: 15px;
  padding-left: 15px;
}

@mixin container-properties-custom {
  padding: 50px 15px 50px 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin container-properties-custom-2 {
  padding: 50px 0px 50px 0px;
  margin-right: auto;
  margin-left: auto;
}

// Small line division

@mixin line-divider {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333645;
}

//Buttons

@mixin btn-style {
  border: 1px solid transparent;
  text-transform: uppercase;
}

@mixin icon-color {
    background-color: #67809f;
}

// background-colour

@mixin themes($map) {
  @each $name, $color in $themes {
    &-#{$name} {
  background-color: $color;
  border-color: $color;
    }
  }
}
