/* ===Variables=== */

// Font colour
$white-text: #fff;
$white-text-dark: darken($white-text, 25%);
$small-grey: rgb(102, 102, 102);
$blue-grey-text: #67809f;
$blue-text: rgb(65, 131, 215);
$dark-grey-text: #333645;
$red-text: #d24d57;
$purple-text: #926fb1;

// Font size
$small-grey-size: 13px;

// Background styles
$dark-grey-bg: #333645;
$grey-bg: #999aa2;
$light-grey-bg: #ddd;
$transparent-bg: linear-gradient(270deg, transparent 35%, #000), rgba(0, 0, 0, 0.5);
$blue-grey-bg: #67809f;
$blue-bg: rgb(65, 131, 215);
$white-bg: #fff;
$purple-bg: #926fb1;
$red-bg: #d24d57;
$light-grey-border: lighten(#ccc, 4%);


// Background hover
$red-hover: darken($red-bg, 10%);
$purple-hover: darken($purple-bg, 10%);
$blue-hover: darken($blue-bg, 10%);
$dark-grey-hover: darken($dark-grey-text, 10%);
$blue-grey-hover: darken($blue-grey-bg, 10%);
$grey-hover: darken($grey-bg, 10%);
$dark-grey-hover: darken($dark-grey-bg, 10%);
$maroon-hover: darken(#d64541, 10%);
$green-hover: darken(#2ecc71, 10%);
$black-light-hover: lighten(#333645, 5%);


// padding
$section: 50px 0px 50px 0px;
$container: 0px 15px 0px 15px;

//icon colours services
$card-bg: (
 'soft': #67809f,
 'it': #4183d7,
 'digi': #2ecc71,
 'tele': #d64541,
 'des': #926fb1,
 'sec': #f62459,
 'train': #926fb1,);

 $themes-hover: (
  'soft': #67809f,
  'it': #4183d7,
  'digi': #2ecc71,
  'tele': #d64541,
  'des': #926fb1,
  'sec': #f62459,
  'train': #926fb1,);

 //icon colours nav panel
 $c-icon: (
 '1': #926fb1,
 '2': #4183d7,
 '3': #d64541,
 '4': #67809f,
 '5': #2ecc71,
 '6': #f62459,);


 //hover colour navigation
 $sub-menu: (
 'one': #926fb1,
 'two': rgb(65, 131, 215),
 'three': #d24d57,
 'four': #999aa2,
 'five': #ddd,
 'six': #67809f,
 );

//background-colour navigation
$sub-menu: (
'web': darken(#926fb1, 10%),
'sup': darken(#4183d7, 10%),
'serv': darken(#d64541, 10%),
'soft': darken(#67809f, 10%),
'digi': darken(#2ecc71, 10%),
'sec': darken(#f62459, 10%),
);
