/* ===Variables=== */
/* ===Mixins=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
/* ===Base=== */
/* ===Variables=== */
/* ===Mixins=== */
/***************************
****************************
      Media Queries
****************************
***************************/
@media (max-width: 991px) {
  .content-container {
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .job_container, .about_container, .container, #careers_container,
.newsletter_container, .text-container, .footer_container, .header_container, .client_container {
    width: 1200px;
  }
}
@media (min-width: 1260px) {
  .about-text {
    width: 50%;
  }
}
html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: 0.4px;
  color: #fff;
  margin: 0;
  display: block;
}

#container {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  display: block;
  color: #666666;
  background-color: white;
}

.main-outer {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.icon-soft {
  background-color: #67809f;
}

.icon-it {
  background-color: #4183d7;
}

.icon-digi {
  background-color: #2ecc71;
}

.icon-tele {
  background-color: #d64541;
}

.icon-des {
  background-color: #926fb1;
}

.icon-sec {
  background-color: #f62459;
}

.icon-train {
  background-color: #926fb1;
}

/*# sourceMappingURL=_icons.css.map */
