
/* ===Base=== */

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: .4px;
  color: $white-text;
  margin: 0;
  display: block;
}

.main {
  position: relative;
  display: block;
  color: rgb(102, 102, 102);
  background-color: rgb(255, 255, 255);
}

.main.shift {
  transition: right .4s ease-in-out;
  transform: translateX(-250px);
}

.main.scroll_stop {
  overflow: hidden;
  height: 100vh;
}

.main-outer {
  display: block;
  height: 100%;
}

.main-outer.hidden {
  overflow-y: hidden;
  height: 100vh;
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.over::after {
}
