
/* ===Base=== */

@import '../utilities/variables',
        '../utilities/mixins',
        '../utilities/media';

html {
  height: 100%;
  display: block;
  text-size-adjust: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Poppins, sans-serif;
  line-height: 1.42857143;
  font-size: 1rem;
  letter-spacing: .4px;
  color: $white-text;
  margin: 0;
  display: block;
}

.top_container {
  display: block;
  position: relative;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  position: relative;
  display: block;
  color: rgb(102, 102, 102);
  background-color: rgb(255, 255, 255);
}

.main.shift {
  position: absolute;
  top: 0;
  left: 0;
  right: 350px;
  bottom: 0;
  transition: 0.8s ease-out;
  // background: rgba(0,0,0,.4);
  // opacity: 0.8;
  // z-index: 10000;
}

.main-outer {
  display: block;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.entire.shade {
  // content: "";
  // position: absolute;
  // z-index: 10000;
  // background: rgba(0,0,0,.4);
}

.main-inner {
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-inner.over {
  opacity: 0.8;
}
